@use '../vars' as *;

.contacts {
    border-radius: 10px;
    background-color: #1c2121;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    align-items: center;
    @include custom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }
    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
    &__col {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        button {
            max-width: max-content;
        }
        &_end {
            align-items: end;
            @include mobile {
                align-items: flex-start;
            }
        }
    }
    &__col-title {
        font-size: 14px;
        font-weight: 300;
        color: $gray;
    }
    &__col-text {
        font-size: 20px;
        font-weight: 500;
    }
}
