@use '../vars' as *;

.footer {
    &__container {
        padding-top: 60px;
        padding-bottom: 60px;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, auto);
        row-gap: 40px;
        @include custom {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 25px;
        }
    }
    &__title-block {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    &__address-text {
        grid-row: 2/3;
        grid-column: 1/2;
        @include custom {
            grid-column: 1/2;
            grid-row: 3/4;
        }
    }
    &__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        line-height: 110%;
        color: $gray;
    }
    &__info-block {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        grid-row: 3/4;
        grid-column: 1/2;
        @include mobile {
            grid-row: 2/3;
        }
    }
    &__info-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
    }
    &__callback-block {
        display: flex;
        align-items: center;
        column-gap: 40px;
        justify-content: end;
        @include custom {
            grid-column: 1/2;
            justify-self: self-start;
            grid-row: 6/7;
            flex-direction: column;
            row-gap: 25px;
        }
    }
    &__controls {
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        grid-row: 2/3;
        grid-column: 2/3;
        justify-content: end;
        @include custom {
            grid-column: 1/2;
            justify-content: flex-start;
            grid-row: 4/5;
            flex-direction: column;
            row-gap: 25px;
        }
    }
    &__action-elem {
        max-width: max-content;
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: end;
    }
    &__info-title {
        font-size: 14px;
        font-weight: 300;
        line-height: 110%;
        color: $gray;
    }
    &__bottom-line {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__rights {
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
        color: $gray;
    }
    &__links {
        display: flex;
        column-gap: 60px;
        flex-wrap: wrap;
        a {
            color: $gray;
            font-size: 16px;
            font-weight: 300;
            line-height: 140%;
        }
    }
}
