@use '../vars' as *;
.header {
    @include custom {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .container {
        display: flex;
        column-gap: 32px;
        align-items: center;
    }
    &__logo-link {
        max-width: max-content;
        display: block;
    }
    &__text-block {
        display: flex;
        align-items: center;
        column-gap: 40px;
        max-width: max-content;
    }
    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;

        &_divided {
            position: relative;
            &::after {
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 100%;
                max-height: 30px;
                background-color: #ffffff33;
                content: '';
            }
        }
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        line-height: 110%;
    }
    &__callback-block {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
}
.dt-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include custom {
        display: none;
    }
    &__top,
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__bottom {
        border-top: 1px solid #ffffff33;
    }
}
.mobile-row {
    display: none;
    @include custom {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }
    &__text-block {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }
    &__title {
        font-size: 14px;
        font-weight: 500;
        line-height: 110%;
        color: $white;
    }
    &__subtitle {
        font-size: 12px;
        font-weight: 300;
        line-height: 110%;
        color: $gray;
    }
    &__controls {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
    &__phone-link {
        svg {
            width: 20px;
            height: 20px;
            color: $white;
        }
    }
}
