@use '../vars' as *;

.map-section {
    padding-bottom: 60px;
    &__map-wrapper {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        grid-row: 1/3;
        grid-column: 1/2;
    }
    &__container {
        display: grid;
        row-gap: 25px;
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    }
}
